<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwitchBotコントロール グループ作成</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>デバイス一覧</h1>
    <form action="{{ url_for('create_group') }}" method="post">
        <input type="text" name="name">
        <table>
            <thead>
                <tr>
                    <th>check_box</th>
                    <th>id</th>
                    <th>name</th>
                    <th>type</th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                <tr>
                    <td>
                        <input type="checkbox" name="selected" value="{{ device.id }}">
                    </td>
                    <td>{{ device.id }}</td>
                    <td>{{ device.name }}</td>
                    <td>{{ device.type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit"> グループ作成 </button>
    </form>

<form action="{{ url_for('index') }}" method="get">
    <button type="submit"> 戻る </button>
</form>

</body>
</html>
