<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwitchBotコントロール Top</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>デバイス一覧</h1>
    <table>
        <thead>
            <tr>
                {% for column in columns %}
                <th>{{ column }}</th>
                {% endfor %}
                <th>コマンド</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                {% for value in device %}
                <td>{{ value }}</td>
                {% endfor %}
                <td>
                    <form action="{{ url_for('toggle_switch', device_id=device[0]) }}" method="post" style="display:inline;">
                      <button type="submit"> ON/OFF 切り替え </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
