<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwitchBotコントロール Top</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>デバイス一覧</h1>
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>type</th>
                <th>コマンド</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <td>
                    <form action="{{ url_for('change_name', device_id=device.id) }}" method="post" style="display:inline;">
                        <input type="text" value="{{ device.name }}" name="device_name">
                        <button type="submit"> 名前変更 </button>
                    </form>
                </td>
                <td>{{ device.type }}</td>
                <td>
                    <!-- TODO : タイプによって表示内容切り替えたい -->
                    <form action="{{ url_for('toggle_switch', device_id=device.id) }}" method="post" style="display:inline;">
                      <button type="submit"> ON/OFF 切り替え </button>
                    </form>
                    <form action="{{ url_for('detail_setting', device_id=device.id) }}" method="get" style="display:inline;">
                        <button type="submit"> 詳細設定 </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>ライトグループ一覧</h1>
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>コマンド</th>
            </tr>
        </thead>
        <tbody>
            {% for light_group in light_groups %}
            <tr>
                <td>
                    <input type="text" value="{{ light_group.name }}" name="light_group_name">
                </td>
                <td>
                    <form action="{{ url_for('switch_on', group_id=light_group.id) }}" method="post" style="display:inline;">
                        <button type="submit"> 一括ON </button>
                    </form>
                    <form action="{{ url_for('switch_off', group_id=light_group.id) }}" method="post" style="display:inline;">
                        <button type="submit"> 一括OFF </button>
                    </form>
                    <form action="{{ url_for('detail_setting_group', group_id=light_group.id) }}" method="get" style="display:inline;">
                          <button type="submit"> 詳細設定 </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{{ url_for('create_light_group') }}" method="get">
        <button type="submit"> グループ作成 </button>
    </form>

</body>
</html>
